.griddle-container {
    position: absolute;
    height: 100%;
    top: 0;
    background: #fff;
    overflow: hidden;
    opacity: 0;
    -moz-transition: 400ms ease-in-out;
}

.griddle-cols, .griddle-rows {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.griddle-cols {
    z-index: 2;
}

.griddle-gutter, .griddle-col {
    float: left;
    height: 100%;
}
.griddle-col {
    position: relative;
}

.griddle-row {
    border-bottom: 1px solid #ccc;
}

.griddle-controls {
    background: #777;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    border: solid #555;
    border-width: 0 1px 1px 0;
}
.griddle-controls a {
    float: left;
    width: 15px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
    text-align: center;
    border: 1px solid #999;
    color: #ccc;
    cursor: pointer;
}
.griddle-controls a:hover {
    color: #fff;
    border-color: #fff;
}
.griddle-controls a:active {
    color: #777;
    background: #fff;
}
.griddle-controls a.on {
    background: #888;
    border-color: #bbb;
}